footer {
    margin: 50px 0;
    padding: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    border-top: 1px solid #eaecf0;
}

.hng-internship {
    color: #667085;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    footer {
        margin: 50px -80px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 20px;
    }
}