.container {
  width: 100%;
  padding: 16px;
}

.btn {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed #D0D5DD;
  color: #667085;
  background: #FFFFFF;
  cursor: pointer;
}

.btn:hover {
  background: #F9FAFB;
  border: 1px dashed #D0D5DD;
}

.btn:focus,
.btn:active {
  background: #FFFFFF;
  border: 1px dashed #D0D5DD;
  box-shadow: 0px 0px 0px 4px #F2F4F7;
}

.btn:disabled {
  background: #F9FAFB;
  border: 1px dashed #EAECF0;
}

.button {
  text-decoration: none;
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}